footer {
  position: relative;
  bottom: 0;
  padding: 50px 30px 10px;
  border-bottom: 1px solid #e4ebf3;
  color: #1a1b1f;
}

.footer-container {
  width: 100%;
  max-width: 940px;
  margin-right: auto;
  margin-left: auto;
}

.footer-info-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-info-wrapper ul {
  list-style-type: none;
}

.member-block {
  display: flex;
  margin-right: -20px;
  margin-left: -20px;
  justify-content: flex-start;
  align-items: center;
}

.member-block a {
  margin-right: 20px;
  margin-left: 20px;
  color: #1a1b1f;
  text-decoration: none;
  /* color: white; */
}

.member-block a:hover {
  text-decoration: underline;
}

.project-block {
  display: flex;
  margin-left: -32px;
  justify-content: flex-start;
  align-items: center;
}

.project-block li {
  margin-left: 32px;
}

.footer-divider {
  width: calc(100% - 20px);
  height: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 10px;
  background-color: var(--white);
}

.credit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
  font-weight: 400;
}
